@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-comic: "Comic Sans MS", "Comic Sans", cursive;
  --font-papyrus: "Papyrus", fantasy;
}

body {
  background-color: white;
  color: #39ff14; 
  font-family: 'Hind Siliguri', sans-serif;
  cursor: wait; 
}